<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StickerNintendoPro"
        tools:targetApi="31">

        <activity
            android:name=".FriendsActivity"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <service
            android:name=".BatteryService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="monitor_battery_level" />
        </service>

        <activity
            android:name=".StickerDetailsActivity"
            android:exported="false" />

        <provider
            android:name=".StickerContentProvider"
            android:authorities="com.ketchupstudios.Switchstickerapp.stickercontentprovider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.whatsapp.sticker.READ" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9087203932210009~3339907618" />

        <activity
            android:name=".WallpaperDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".FullListActivity"
            />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <receiver
            android:name=".WidgetProvider4x2"
            android:exported="true"
            android:label="@string/widget_name_weather_wide">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_4x2" />
        </receiver>

        <receiver
            android:name=".WidgetProvider2x2"
            android:exported="true"
            android:label="@string/widget_name_weather_small">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_2x2" />
        </receiver>

        <receiver
            android:name=".WidgetProvider4x1"
            android:exported="true"
            android:label="@string/widget_name_weather_banner">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_4x1" />
        </receiver>

        <activity
            android:name=".WidgetPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".SearchActivity"

            android:windowSoftInputMode="stateVisible" />

        <receiver
            android:name=".WidgetProviderCalendar4x2"
            android:exported="true"
            android:label="@string/widget_name_calendar_wide">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_calendar_4x2" />
        </receiver>

        <receiver
            android:name=".WidgetProviderCalendar2x2"
            android:exported="true"
            android:label="@string/widget_name_calendar_small">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_calendar_2x2" />
        </receiver>

        <receiver
            android:name=".HybridWidget"
            android:exported="true"
            android:label="@string/widget_hybrid_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_hybrid_info" />
        </receiver>

        <receiver
            android:name=".BatteryWidgetProvider"
            android:exported="true"
            android:label="Batería: Personajes (2x2)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.ACTION_BATTERY_LOW" />
                <action android:name="android.intent.action.ACTION_BATTERY_OKAY" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_battery_2x2" />
        </receiver>

        <activity
            android:name=".BatteryPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <receiver
            android:name=".NewsWidget"
            android:exported="true"
            android:label="@string/widget_news_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_news_info" />
        </receiver>

        <receiver
            android:name=".ClockWidget"
            android:exported="true"
            android:label="@string/widget_clock_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_clock_info" />
        </receiver>

        <activity
            android:name=".NewsDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".PortraitCaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".IdWalletActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".WalletHomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".GameSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>


        <activity
            android:name=".GachaUnboxActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>